<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> -->
<!-- <link rel="stylesheet" type="text/css" href="css/dc.css" /> -->
<workflow-controls ng-show="showControls">
<!--     <div> -->
<!--         <label for="sr-boxplot-log-check">Log2</label> -->
<!--         <input type="checkbox" id="sr-boxplot-log-check"> -->
<!--     </div> -->
<!--     <div> -->
<!--         <label for="sr-boxplot-jitter-check">Jitter</label> -->
<!--         <input type="checkbox" id="sr-boxplot-jitter-check"> -->
<!--     </div> -->
<!--     <div> -->
<!--         <label for="sr-boxplot-kde-check">KDE</label> -->
<!--         <input type="checkbox" id="sr-boxplot-kde-check"> -->
<!--     </div> -->
<!--     <div> -->
<!--         <input type="button" id="sr-boxplot-reset-btn" value="Reset"> -->
<!--     </div> -->
<!--     <div> -->
<!--         <input type="button" id="sr-boxplot-remove-btn" value="Remove Outliers"> -->
<!--     </div> -->
    <div>
        <label for="sr-icutimeseries-whiskers-check">Show Whiskers</label>
        <input checked type="checkbox" id="sr-icutimeseries-whiskers-check">
    </div>
	    <div>
        <input type="button" id="sr-icutimeseries-showPatients" value="ShowPatients">
    </div>
	    <div>
        <input type="button" id="sr-icutimeseries-minmax" value="MinMax">
    </div>
</workflow-controls>
<div id="visualisation"></div>
